<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon" />
  </head>
  <body>
    <%- include ("_header.ejs") %>
    <main>
        <h1>Your Progress</h1>
        <h2>All the workouts and exercises done so far</h2>   
    </main>
    <%- include ("_footer.ejs") %>
  </body>
</html>
