body {
  /* background-color: aqua; */
  background-image: url("/images/desktopbg.png");
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  color: white;
}
main h1 {
  font-size: 45px;
  text-transform: uppercase;
}

main h1 span {
  color: yellow;
}

#offers {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.offer {
  border: 0.5px solid black;
  width: 30%;
  padding: 20px;
  margin: 10px;
  color: black;
  font-size: 20px;
  text-align: center;
  background: rgba(236, 236, 16, 0.874);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.offer img {
  display: block;
  width: 100%;
}
@media (max-width: 750px) {
  body {
    background-image: url("/images/desktopbg.png");
  }
  #offers {
    flex-direction: column;
  }
  .offer {
    width: 100%;
  }
}
